extends layout

block content
  .content.pure-g-r
    .header.pure-u-1
      include menu

    if locals.user
      .main.pure-u-1
        .pure-g-r
          .pure-u-1-2
            img(src='/images/grave.jpg')

          .pure-u-1-2
            .my-grave
              .head
                p.label-title #{locals.user.name} さんのお墓 
              .offerings
                p.label-offerings お供え物
                if offerings
                  each offering in offerings
                    case offering
                      when 'flower'
                        img.offering(src='/images/bukka.gif', name='flower')
                      when 'senkou'
                        img.offering(src='/images/senkou.jpg', name='senkou')
              .graves
                if users
                  p.label-graves お墓一覧
                  ul
                    each user in users
                      li
                        a(href='/' + user.name)= user.name
    else
      .main.pure-u-1
        .pure-g-r
          .pure-u-1-2
            img(src='/images/grave.jpg')
          .pure-u-1-2
            .splash-head
              p.title Ohakabook へようこそ
              p.description Ohakabook - お墓ブックを使ってインターネットでお墓参りをしましょう。
              a.pure-button.primary-button(href='/register') アカウントを作成