extends layout

block content
  .content.pure-g-r
    .header.pure-u-1
      include menu

      .form
        include errors
        form.pure-form.pure-form-stacked(action='/login', method='post')
          fieldset
            legend ログイン

            label(for='username') ユーザ名 
            input#username(type='text', name='user[name]', placeholder='ユーザ名')

            label(for='password') パスワード 
            input#password(type='password', name='user[pass]', placeholder='パスワード')
            
            button.pure-button.pure-button-primary(type='submit') ログイン