.pure-menu.pure-menu-open.pure-menu-fixed.pure-menu-horizontal
  ul
    if locals.user
      li
        a(href='/') Ohakabook - お墓ブック
      li
        a(href='/logout') ログアウト
    else
      li
        a(href='/') Ohakabook - お墓ブック
      li
        a(href='/login') ログイン
      li
        a(href='/register') アカウントを作成